<a href="https://colab.research.google.com/github/Daniel2542/World_athletics_analysis/blob/main/World_athletics_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/drive/MyDrive/datasets/world-athletics_all-time-top-lists.csv')
df.head(10)

,all_time_rank,results_score,event,category,event_rank,mark,competitor,nat,date_of_birth,pos,...,venue,age,wind,mark_details,year_of_birth,event_name,event_type,environment,age_category,gender
0,1.0,1382.0,Women's Discus Throw,Outdoor Senior - Women,1,76.8,Gabriele REINSCH,GDR,1963-09-23,1.0,...,Neubrandenburg (GDR),24.8,NaN,NaN,1963.0,discus-throw,throws,outdoor,senior,women
1,2.0,1372.0,Women's Shot Put,Outdoor Senior - Women,1,22.63,Natalya LISOVSKAYA,URS,1962-07-16,1.0,...,Moskva (URS),24.9,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
2,3.0,1371.0,Women's Shot Put,Outdoor Senior - Women,2,22.6,Natalya LISOVSKAYA,URS,1962-07-16,NaN,...,Moskva (URS),24.9,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
3,4.0,1367.0,Women's Shot Put,Outdoor Senior - Women,3,22.55,Natalya LISOVSKAYA,URS,1962-07-16,1.0,...,Tallinn (EST),26.0,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
4,5.0,1366.0,Women's Shot Put,Outdoor Senior - Women,4,22.53,Natalya LISOVSKAYA,URS,1962-07-16,1.0,...,Kiev (URS),26.1,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
5,5.0,1366.0,Women's Shot Put,Outdoor Senior - Women,4,22.53,Natalya LISOVSKAYA,URS,1962-07-16,1.0,...,Sochi (URS),21.9,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
6,7.0,1365.0,Men's Javelin Throw,Outdoor Senior - Men,1,98.48,Jan ŽELEZNÝ,CZE,1966-06-16,1,...,Jena (GER),29.9,NaN,NaN,1966.0,javelin-throw,throws,outdoor,senior,men
7,8.0,1364.0,Women's Shot Put indoor,Indoor Senior - Women,1,22.5,Helena FIBINGEROVÁ,TCH,1949-07-13,1.0,...,Jablonec (TCH),27.6,NaN,NaN,1949.0,shot-put,throws,indoor,senior,women
8,9.0,1361.0,Women's Shot Put,Outdoor Senior - Women,6,22.45,Ilona SLUPIANEK,GDR,1956-09-24,1.0,...,Potsdam (GDR),23.6,NaN,NaN,1956.0,shot-put,throws,outdoor,senior,women
9,10.0,1359.0,Women's Shot Put,Outdoor Senior - Women,7,22.41,Ilona SLUPIANEK,GDR,1956-09-24,1.0,...,"Lenin Stadium, Moskva (URS)",23.8,NaN,NaN,1956.0,shot-put,throws,outdoor,senior,women

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488643 entries, 0 to 488642
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   all_time_rank  365871 non-null  float64
 1   results_score  484734 non-null  float64
 2   event          488643 non-null  object
 3   category       488643 non-null  object
 4   event_rank     488643 non-null  int64
 5   mark           488643 non-null  object
 6   competitor     488643 non-null  object
 7   nat            488643 non-null  object
 8   date_of_birth  477276 non-null  object
 9   pos            485407 non-null  object
 10  date           488643 non-null  object
 11  venue          488643 non-null  object
 12  age            477276 non-null  float64
 13  wind           81399 non-null   float64
 14  mark_details   11241 non-null   object
 15  year_of_birth  480450 non-null  float64
 16  event_name     488643 non-null  object
 17  event_type     488643 non-null  object
 18  environment    488643 non-null  object
 19  age_category   488643 non-null  object
 20  gender         488643 non-null  object
dtypes: float64(5), int64(1), object(15)
memory usage: 78.3+ MB

# checking for duplicates

In [4]:
df.duplicated().sum()

86

In [5]:
df.shape

(488643, 21)

# Dropping duplicates

In [6]:
df = df.drop_duplicates()
df.duplicated().sum()

0

# Number of unique events

In [7]:
len(df["event"].unique())

171

In [8]:
df["event"].value_counts().head(20)

event
Women's Hammer Throw      12858
Women's 100m              12079
Women's 200m              11953
Women's 3000mSC           11192
Men's 100m                11138
Women's Pole Vault        11076
Women's Javelin Throw     10825
Men's 200m                10802
Women's 400m              10456
Women's 800m              10448
Men's Pole Vault          10382
Men's 400mH               10341
Men's 3000mSC             10274
Women's 1500m             10171
Men's 110mH               10111
Men's Shot Put            10081
Men's Hammer Throw        10053
Men's Discus Throw        10025
Women's 20km Race Walk     9923
Men's 1500m                9835
Name: count, dtype: int64

In [9]:
df["event_name"].unique()

array(['discus-throw', 'shot-put', 'javelin-throw', '100-metres',
       '200-metres', 'long-jump', '400-metres-hurdles', 'heptathlon',
       'pole-vault', '400-metres', '4x100-metres-relay', 'high-jump',
       'marathon', '4x1500-metres-relay', 'hammer-throw', '2000-metres',
       '10000-metres', '3000-metres', '800-metres', 'one-mile',
       'two-miles', '60-metres', 'triple-jump', '5000-metres',
       'decathlon', '1500-metres', '3000-metres-steeplechase',
       '50-kilometres-race-walk', '4x800-metres-relay',
       '110-metres-hurdles', '10-kilometres', 'half-marathon',
       '4x400-metres-relay', '60-metres-hurdles', '600-metres',
       '15-kilometres', '300-metres', '1000-metres', '50-metres-hurdles',
       '100-metres-hurdles', '4x200-metres-relay', '50-metres',
       '55-metres', '20-kilometres-race-walk', '35-kilometres-race-walk',
       '3000-metres-race-walk', '10-miles-road', 'pentathlon',
       '55-metres-hurdles', '10-kilometres-race-walk', '5-kilometres',
       '2000-metres-steeplechase', '20000-metres-race-walk',
       '10000-metres-race-walk', '20-kilometres',
       '5-kilometres-race-walk', '500-metres', '30-kilometres-race-walk',
       '5000-metres-race-walk', '1-mile-road', '110m-hurdles-990cm',
       'shot-put-6kg', 'discus-throw-1750kg', 'hammer-throw-6kg',
       'decathlon-u20', '60m-hurdles-990cm', 'heptathlon-u20',
       '2x2x400-metres-relay', 'shuttle-hurdles-relay'], dtype=object)

In [10]:
df["nat"].value_counts().head(20)

nat
USA    101168
KEN     33245
RUS     26813
GER     22011
GBR     19251
JAM     16292
FRA     14416
ETH     12451
CHN     12444
POL     12237
URS     10644
ESP      9287
ITA      9127
JPN      8960
UKR      8553
CUB      8175
CAN      8149
AUS      8098
GDR      6476
SWE      5950
Name: count, dtype: int64

#Events vs gender distribution

In [54]:
df.groupby("event")["gender"].value_counts().tail(20)

event                       gender
Women's Discus Throw        women      1852
Women's Half Marathon       women      2074
Women's Hammer Throw        women     12858
Women's Heptathlon          women      1164
Women's High Jump           women      2532
Women's High Jump indoor    women      3684
Women's Javelin Throw       women     10825
Women's Long Jump           women      2438
Women's Long Jump indoor    women      2855
Women's Marathon            women      4379
Women's Mile                women       630
Women's Mile Road Race      women        21
Women's Mile indoor         women      1283
Women's Pentathlon indoor   women       426
Women's Pole Vault          women     11076
Women's Pole Vault indoor   women      8558
Women's Shot Put            women      7353
Women's Shot Put indoor     women      1221
Women's Triple Jump         women      4928
Women's Triple Jump indoor  women      3951
Name: count, dtype: int64

# Unique categories distribution

In [12]:
df["category"].unique()

array(['Outdoor Senior - Women', 'Outdoor Senior - Men',
       'Indoor Senior - Women', 'Outdoor U20 - Women',
       'Indoor Senior - Men', 'Outdoor U20 - Men', 'Indoor U20 - Men',
       'Indoor U20 - Women', 'Outdoor Senior - Mixed',
       'Outdoor U20 - Mixed'], dtype=object)

In [55]:
len(df["category"].unique())

10

# Number of unique categories

In [13]:
df["category"].value_counts()

category
Outdoor Senior - Men      191972
Outdoor Senior - Women    162066
Indoor Senior - Men        52048
Indoor Senior - Women      51421
Outdoor U20 - Women        14844
Outdoor U20 - Men          11177
Indoor U20 - Women          2364
Indoor U20 - Men            2266
Outdoor Senior - Mixed       303
Outdoor U20 - Mixed           96
Name: count, dtype: int64

# Field events dataframe

In [14]:
field_event = df[df["event_type"].isin(["throws", "jumps", "combined-events"])]
field_event.head(10)

,all_time_rank,results_score,event,category,event_rank,mark,competitor,nat,date_of_birth,pos,...,venue,age,wind,mark_details,year_of_birth,event_name,event_type,environment,age_category,gender
0,1.0,1382.0,Women's Discus Throw,Outdoor Senior - Women,1,76.8,Gabriele REINSCH,GDR,1963-09-23,1.0,...,Neubrandenburg (GDR),24.8,NaN,NaN,1963.0,discus-throw,throws,outdoor,senior,women
1,2.0,1372.0,Women's Shot Put,Outdoor Senior - Women,1,22.63,Natalya LISOVSKAYA,URS,1962-07-16,1.0,...,Moskva (URS),24.9,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
2,3.0,1371.0,Women's Shot Put,Outdoor Senior - Women,2,22.6,Natalya LISOVSKAYA,URS,1962-07-16,NaN,...,Moskva (URS),24.9,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
3,4.0,1367.0,Women's Shot Put,Outdoor Senior - Women,3,22.55,Natalya LISOVSKAYA,URS,1962-07-16,1.0,...,Tallinn (EST),26.0,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
4,5.0,1366.0,Women's Shot Put,Outdoor Senior - Women,4,22.53,Natalya LISOVSKAYA,URS,1962-07-16,1.0,...,Kiev (URS),26.1,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
5,5.0,1366.0,Women's Shot Put,Outdoor Senior - Women,4,22.53,Natalya LISOVSKAYA,URS,1962-07-16,1.0,...,Sochi (URS),21.9,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
6,7.0,1365.0,Men's Javelin Throw,Outdoor Senior - Men,1,98.48,Jan ŽELEZNÝ,CZE,1966-06-16,1,...,Jena (GER),29.9,NaN,NaN,1966.0,javelin-throw,throws,outdoor,senior,men
7,8.0,1364.0,Women's Shot Put indoor,Indoor Senior - Women,1,22.5,Helena FIBINGEROVÁ,TCH,1949-07-13,1.0,...,Jablonec (TCH),27.6,NaN,NaN,1949.0,shot-put,throws,indoor,senior,women
8,9.0,1361.0,Women's Shot Put,Outdoor Senior - Women,6,22.45,Ilona SLUPIANEK,GDR,1956-09-24,1.0,...,Potsdam (GDR),23.6,NaN,NaN,1956.0,shot-put,throws,outdoor,senior,women
9,10.0,1359.0,Women's Shot Put,Outdoor Senior - Women,7,22.41,Ilona SLUPIANEK,GDR,1956-09-24,1.0,...,"Lenin Stadium, Moskva (URS)",23.8,NaN,NaN,1956.0,shot-put,throws,outdoor,senior,women

In [15]:
field_event.info()

<class 'pandas.core.frame.DataFrame'>
Index: 165329 entries, 0 to 488243
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   all_time_rank  106287 non-null  float64
 1   results_score  162785 non-null  float64
 2   event          165329 non-null  object
 3   category       165329 non-null  object
 4   event_rank     165329 non-null  int64
 5   mark           165329 non-null  object
 6   competitor     165329 non-null  object
 7   nat            165329 non-null  object
 8   date_of_birth  164699 non-null  object
 9   pos            163695 non-null  object
 10  date           165329 non-null  object
 11  venue          165329 non-null  object
 12  age            164699 non-null  float64
 13  wind           18101 non-null   float64
 14  mark_details   4057 non-null    object
 15  year_of_birth  165024 non-null  float64
 16  event_name     165329 non-null  object
 17  event_type     165329 non-null  object
 18  environment    165329 non-null  object
 19  age_category   165329 non-null  object
 20  gender         165329 non-null  object
dtypes: float64(5), int64(1), object(15)
memory usage: 27.7+ MB

In [16]:
field_event.isna().sum()

all_time_rank     59042
results_score      2544
event                 0
category              0
event_rank            0
mark                  0
competitor            0
nat                   0
date_of_birth       630
pos                1634
date                  0
venue                 0
age                 630
wind             147228
mark_details     161272
year_of_birth       305
event_name            0
event_type            0
environment           0
age_category          0
gender                0
dtype: int64

In [17]:
field_event = field_event.dropna(subset=["all_time_rank"])
field_event = field_event.dropna(subset=["results_score"])
field_event.isna().sum()

all_time_rank         0
results_score         0
event                 0
category              0
event_rank            0
mark                  0
competitor            0
nat                   0
date_of_birth       244
pos                1110
date                  0
venue                 0
age                 244
wind              89255
mark_details     103140
year_of_birth        66
event_name            0
event_type            0
environment           0
age_category          0
gender                0
dtype: int64

All-time rank (Top 20) performances

In [18]:
top_20_performances = field_event.sort_values(by="all_time_rank", ascending=True).head(20)
top_20_performances

,all_time_rank,results_score,event,category,event_rank,mark,competitor,nat,date_of_birth,pos,...,venue,age,wind,mark_details,year_of_birth,event_name,event_type,environment,age_category,gender
0,1.0,1382.0,Women's Discus Throw,Outdoor Senior - Women,1,76.8,Gabriele REINSCH,GDR,1963-09-23,1.0,...,Neubrandenburg (GDR),24.8,NaN,NaN,1963.0,discus-throw,throws,outdoor,senior,women
1,2.0,1372.0,Women's Shot Put,Outdoor Senior - Women,1,22.63,Natalya LISOVSKAYA,URS,1962-07-16,1.0,...,Moskva (URS),24.9,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
2,3.0,1371.0,Women's Shot Put,Outdoor Senior - Women,2,22.6,Natalya LISOVSKAYA,URS,1962-07-16,NaN,...,Moskva (URS),24.9,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
3,4.0,1367.0,Women's Shot Put,Outdoor Senior - Women,3,22.55,Natalya LISOVSKAYA,URS,1962-07-16,1.0,...,Tallinn (EST),26.0,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
4,5.0,1366.0,Women's Shot Put,Outdoor Senior - Women,4,22.53,Natalya LISOVSKAYA,URS,1962-07-16,1.0,...,Kiev (URS),26.1,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
5,5.0,1366.0,Women's Shot Put,Outdoor Senior - Women,4,22.53,Natalya LISOVSKAYA,URS,1962-07-16,1.0,...,Sochi (URS),21.9,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
6,7.0,1365.0,Men's Javelin Throw,Outdoor Senior - Men,1,98.48,Jan ŽELEZNÝ,CZE,1966-06-16,1,...,Jena (GER),29.9,NaN,NaN,1966.0,javelin-throw,throws,outdoor,senior,men
7,8.0,1364.0,Women's Shot Put indoor,Indoor Senior - Women,1,22.5,Helena FIBINGEROVÁ,TCH,1949-07-13,1.0,...,Jablonec (TCH),27.6,NaN,NaN,1949.0,shot-put,throws,indoor,senior,women
8,9.0,1361.0,Women's Shot Put,Outdoor Senior - Women,6,22.45,Ilona SLUPIANEK,GDR,1956-09-24,1.0,...,Potsdam (GDR),23.6,NaN,NaN,1956.0,shot-put,throws,outdoor,senior,women
9,10.0,1359.0,Women's Shot Put,Outdoor Senior - Women,7,22.41,Ilona SLUPIANEK,GDR,1956-09-24,1.0,...,"Lenin Stadium, Moskva (URS)",23.8,NaN,NaN,1956.0,shot-put,throws,outdoor,senior,women
10,11.0,1358.0,Women's Shot Put,Outdoor Senior - Women,8,22.4,Ilona SLUPIANEK,GDR,1956-09-24,1.0,...,Berlin (GER),26.7,NaN,NaN,1956.0,shot-put,throws,outdoor,senior,women
11,12.0,1357.0,Women's Shot Put,Outdoor Senior - Women,9,22.38,Ilona SLUPIANEK,GDR,1956-09-24,1.0,...,Karl Marx Stadt (GDR),23.7,NaN,NaN,1956.0,shot-put,throws,outdoor,senior,women
13,14.0,1355.0,Men's Javelin Throw,Outdoor Senior - Men,2,97.76,Johannes VETTER,GER,1993-03-26,1,...,"Stadion Śląski, Chorzów (POL)",27.4,NaN,NaN,1993.0,javelin-throw,throws,outdoor,senior,men
14,14.0,1355.0,Women's Shot Put,Outdoor Senior - Women,10,22.36,Ilona SLUPIANEK,GDR,1956-09-24,1.0,...,Celje (SLO),23.6,NaN,NaN,1956.0,shot-put,throws,outdoor,senior,women
15,16.0,1354.0,Women's Shot Put,Outdoor Senior - Women,11,22.34,Ilona SLUPIANEK,GDR,1956-09-24,1.0,...,Berlin (GER),23.6,NaN,NaN,1956.0,shot-put,throws,outdoor,senior,women
16,16.0,1354.0,Women's Shot Put,Outdoor Senior - Women,11,22.34,Ilona SLUPIANEK,GDR,1956-09-24,1.0,...,Cottbus (GER),23.8,NaN,NaN,1956.0,shot-put,throws,outdoor,senior,women
17,18.0,1353.0,Women's Shot Put,Outdoor Senior - Women,13,22.32,Helena FIBINGEROVÁ,TCH,1949-07-13,1.0,...,Nitra (TCH),28.1,NaN,NaN,1949.0,shot-put,throws,outdoor,senior,women
19,20.0,1348.0,Women's Shot Put,Outdoor Senior - Women,14,22.24,Natalya LISOVSKAYA,URS,1962-07-16,1.0,...,"Olympic Stadium, Jamsil, Seoul (KOR)",26.2,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
20,21.0,1347.0,Women's Shot Put,Outdoor Senior - Women,15,22.22,Ilona SLUPIANEK,GDR,1956-09-24,1.0,...,Potsdam (GDR),23.8,NaN,NaN,1956.0,shot-put,throws,outdoor,senior,women
21,22.0,1346.0,Men's Long Jump,Outdoor Senior - Men,1,8.95,Mike POWELL,USA,1963-11-10,1,...,"National Stadium, Tokyo (JPN)",27.8,0.3,NaN,1963.0,long-jump,jumps,outdoor,senior,men

# Number of unique events

In [19]:
unique_events = field_event["event"].nunique()
print(f"Number of unique events is, {unique_events}")

Number of unique events is, 30

# Distribution of the unique events

In [56]:
event_distribution = field_event["event"].value_counts()
event_distribution.head(20)

event
Men's Pole Vault            10236
Men's Hammer Throw           9477
Men's High Jump              9359
Men's Shot Put               8650
Men's Discus Throw           7475
Men's Long Jump              6837
Men's Pole Vault indoor      5986
Men's Triple Jump            5617
Men's Javelin Throw          4367
Women's Triple Jump          3803
Women's Shot Put             3690
Women's High Jump indoor     2856
Men's High Jump indoor       2657
Women's High Jump            2532
Women's Long Jump            2438
Women's Pole Vault           2368
Men's Shot Put indoor        2240
Women's Discus Throw         1852
Men's Decathlon              1690
Men's Triple Jump indoor     1660
Name: count, dtype: int64

# Events vs. gender distribution

In [58]:
events_gender_distribution = field_event.groupby(["event_name", "gender"]).size()
events_gender_distribution

event_name     gender
decathlon      men        1690
discus-throw   men        7475
               women      1852
hammer-throw   men        9477
               women      1512
heptathlon     men         398
               women       831
high-jump      men       12016
               women      5388
javelin-throw  men        4367
               women      1395
long-jump      men        8289
               women      3999
pentathlon     women       228
pole-vault     men       16222
               women      3605
shot-put       men       10890
               women      4535
triple-jump    men        7277
               women      4841
dtype: int64

In [57]:
df.head()

,all_time_rank,results_score,event,category,event_rank,mark,competitor,nat,date_of_birth,pos,...,venue,age,wind,mark_details,year_of_birth,event_name,event_type,environment,age_category,gender
0,1.0,1382.0,Women's Discus Throw,Outdoor Senior - Women,1,76.8,Gabriele REINSCH,GDR,1963-09-23,1.0,...,Neubrandenburg (GDR),24.8,NaN,NaN,1963.0,discus-throw,throws,outdoor,senior,women
1,2.0,1372.0,Women's Shot Put,Outdoor Senior - Women,1,22.63,Natalya LISOVSKAYA,URS,1962-07-16,1.0,...,Moskva (URS),24.9,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
2,3.0,1371.0,Women's Shot Put,Outdoor Senior - Women,2,22.6,Natalya LISOVSKAYA,URS,1962-07-16,NaN,...,Moskva (URS),24.9,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
3,4.0,1367.0,Women's Shot Put,Outdoor Senior - Women,3,22.55,Natalya LISOVSKAYA,URS,1962-07-16,1.0,...,Tallinn (EST),26.0,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women
4,5.0,1366.0,Women's Shot Put,Outdoor Senior - Women,4,22.53,Natalya LISOVSKAYA,URS,1962-07-16,1.0,...,Kiev (URS),26.1,NaN,NaN,1962.0,shot-put,throws,outdoor,senior,women

# Number of unique categories

In [22]:
unique_categories = field_event["category"].nunique()
print(f"Number of unique categories is, {unique_categories}")

Number of unique categories is, 8

# Unique categories distribution

In [23]:
category_distribution = field_event["category"].value_counts()
category_distribution

category
Outdoor Senior - Men      62768
Outdoor Senior - Women    20106
Indoor Senior - Men       14187
Indoor Senior - Women      7611
Outdoor U20 - Men           940
Outdoor U20 - Women         315
Indoor U20 - Men            206
Indoor U20 - Women          154
Name: count, dtype: int64

# Top 3 competitors of all time per event_type

In [63]:

top_competitors_per_event_type = field_event.groupby("event_type")["competitor"].value_counts().groupby(level=0).head(3)
top_competitors_per_event_type

event_type       competitor
combined-events  Roman ŠEBRLE          66
                 Erki NOOL             42
                 Tomáš DVOŘÁK          40
jumps            Tim LOBINGER         399
                 Renaud LAVILLENIE    287
                 Jeff HARTWIG         266
throws           Krisztián PARS       289
                 Gerd KANTER          259
                 Virgilijus ALEKNA    259
Name: count, dtype: int64

Top 3 competitors of all time per event type per gender

In [25]:
top_competitors_per_event_type_gender = field_event.groupby(["event_type", "gender"])["competitor"].value_counts().groupby(level=[0, 1]).head(3)
top_competitors_per_event_type_gender

event_type       gender  competitor
combined-events  men     Roman ŠEBRLE           66
                         Erki NOOL              42
                         Tomáš DVOŘÁK           40
                 women   Sabine BRAUN           29
                         Nataliya DOBRYNSKA     27
                         Nafissatou THIAM       22
jumps            men     Tim LOBINGER          399
                         Renaud LAVILLENIE     287
                         Jeff HARTWIG          266
                 women   Heike DRECHSLER       236
                         Stefka KOSTADINOVA    195
                         Blanka VLAŠIĆ         194
throws           men     Krisztián PARS        289
                         Gerd KANTER           259
                         Virgilijus ALEKNA     259
                 women   Helena FIBINGEROVÁ    208
                         Astrid KUMBERNUSS     204
                         Nadine KLEINERT       184
Name: count, dtype: int64

# Top 3 competitors of all time per category

In [75]:
top_competitors_per_category = field_event.groupby("category")[["competitor", "all_time_rank"]].value_counts().groupby(level=0).head(3)
top_competitors_per_category

category                competitor                 all_time_rank
Indoor Senior - Men     Tim LOBINGER               88390.0          32
                                                   208636.0         21
                        Björn OTTO                 88390.0          19
Indoor Senior - Women   Ruth BEITIA                192373.0         17
                        Viktoriya SLIVKA-KLYUGINA  309929.0         17
                        Ruth BEITIA                103198.0         15
Indoor U20 - Men        Emmanouil KARALIS          208636.0          3
                        Jaroslav BÁBA              106819.0          3
                        Andrey CHUBSA              335689.0          2
Indoor U20 - Women      Angelina TOPIĆ             355840.0          4
                        Iryna GERASHCHENKO         309929.0          3
                        Marina KUPTSOVA            355840.0          3
Outdoor Senior - Men    Tim LOBINGER               88390.0          74
                                                   208636.0         46
                        Scott HUFFMAN              88390.0          42
Outdoor Senior - Women  Stefka KOSTADINOVA         20877.0          46
                        Ruth BEITIA                142391.0         28
                        Blanka VLAŠIĆ              20877.0          23
Outdoor U20 - Men       Jacques FREITAG            335689.0          8
                        Dietmar MÖGENBURG          239010.0          6
                        Bo Kanda LITA BAEHRE       208636.0          4
Outdoor U20 - Women     Angelina TOPIĆ             142391.0          3
                        Ilke WYLUDDA               111673.0          3
                        Vashti CUNNINGHAM          70591.0           3
Name: count, dtype: int64

# Top 3 competitors of all time per category per gender

In [27]:
top_competitors_per_category_gender = field_event.groupby(["category", "gender"])["competitor"].value_counts().groupby(level=[0, 1]).head(3)
top_competitors_per_category_gender

category                gender  competitor
Indoor Senior - Men     men     Tim LOBINGER               129
                                Renaud LAVILLENIE          103
                                Konstantinos FILIPPIDIS     95
Indoor Senior - Women   women   Ruth BEITIA                 94
                                Heike DRECHSLER             73
                                Jennifer SUHR               71
Indoor U20 - Men        men     Armand DUPLANTIS            11
                                Emmanouil KARALIS           11
                                Jaroslav BÁBA                9
Indoor U20 - Women      women   Yaroslava MAHUCHIKH          9
                                Mariya KUCHINA               8
                                Michaela HRUBÁ               8
Outdoor Senior - Men    men     Krisztián PARS             289
                                Tim LOBINGER               270
                                Gerd KANTER                259
Outdoor Senior - Women  women   Helena FIBINGEROVÁ         178
                                Astrid KUMBERNUSS          164
                                Heike DRECHSLER            164
Outdoor U20 - Men       men     Armand DUPLANTIS            25
                                Konrad BUKOWIECKI           20
                                Dietmar MÖGENBURG           19
Outdoor U20 - Women     women   Ilke WYLUDDA                33
                                Yaroslava MAHUCHIKH         11
                                Astrid KUMBERNUSS           10
Name: count, dtype: int64

# Youngest winners per event type

In [28]:
field_event["age"].isna().sum()

244

In [29]:
field_event["age"] = field_event["age"].fillna(field_event["age"].mean())

In [30]:
youngest_winners = field_event.loc[field_event.groupby("event_type")["age"].idxmin()]
youngest_winners

,all_time_rank,results_score,event,category,event_rank,mark,competitor,nat,date_of_birth,pos,...,venue,age,wind,mark_details,year_of_birth,event_name,event_type,environment,age_category,gender
352370,351618.0,1132.0,Women's Heptathlon,Outdoor Senior - Women,765,6293,Jana KOŠČAK,CRO,2006-05-19,9,...,"Mösle-Stadium, Götzis (AUT)",17.0,NaN,( 13.26/+1.2 - 1.92 - 12.42 - 24.13/+0.9 / 6.2...,2006.0,heptathlon,combined-events,outdoor,senior,women
235782,233670.0,1153.0,Men's Triple Jump,Outdoor Senior - Men,4203,16.89,Junjie GU,CHN,1985-05-05,1,...,Guangzhou (CHN),15.3,NaN,NaN,1985.0,triple-jump,jumps,outdoor,senior,men
288324,286235.0,1144.0,Men's Shot Put,Outdoor U20 - Men,22,20.38,Jacko GILL,NZL,1994-12-20,1,...,Auckland (NZL),17.0,NaN,NaN,1994.0,shot-put,throws,outdoor,u20,men

# Oldest participants per event type

In [76]:
oldest_participants = field_event.loc[field_event.groupby("event_type")["age"].idxmax()]
oldest_participants

,all_time_rank,results_score,event,category,event_rank,mark,competitor,nat,date_of_birth,pos,...,venue,age,wind,mark_details,year_of_birth,event_name,event_type,environment,age_category,gender
344900,342388.0,1134.0,Men's Decathlon,Outdoor Senior - Men,1511,8052,Roman ŠEBRLE,CZE,1974-11-26,6,...,"Olympiastadion, Helsinki (FIN)",37.6,NaN,( 11.19/+0.7 - 7.43/-0.2 - 14.65 - 2.00 - 49.8...,1974.0,decathlon,combined-events,outdoor,senior,men
319987,319755.0,1138.0,Women's Long Jump indoor,Indoor Senior - Women,1126,6.64,Tatyana TER-MESROBYAN,RUS,1968-05-12,1,...,St. Petersburg (RUS),41.7,NaN,NaN,1968.0,long-jump,jumps,indoor,senior,women
160802,156568.0,1167.0,Men's Hammer Throw,Outdoor Senior - Men,4170,77.7,Oleksandr DRYHOL,ISR,1966-04-25,1,...,Jablonec nad Nisou (CZE),50.1,NaN,NaN,1966.0,hammer-throw,throws,outdoor,senior,men

# oldest winners

In [84]:
winners = field_event[field_event["pos"] == "1"]
oldest_winners = winners.loc[winners.groupby("event_type")["age"].idxmax()]
oldest_winners

,all_time_rank,results_score,event,category,event_rank,mark,competitor,nat,date_of_birth,pos,...,venue,age,wind,mark_details,year_of_birth,event_name,event_type,environment,age_category,gender
219914,217404.0,1156.0,Men's Heptathlon indoor,Indoor Senior - Men,214,6105,Roman ŠEBRLE,CZE,1974-11-26,1,...,Praha (CZE),37.2,NaN,( 7.19 - 7.67 - 15.67 - 2.11 / 8.22 - 4.80 - 2...,1974.0,heptathlon,combined-events,indoor,senior,men
319987,319755.0,1138.0,Women's Long Jump indoor,Indoor Senior - Women,1126,6.64,Tatyana TER-MESROBYAN,RUS,1968-05-12,1,...,St. Petersburg (RUS),41.7,NaN,NaN,1968.0,long-jump,jumps,indoor,senior,women
160802,156568.0,1167.0,Men's Hammer Throw,Outdoor Senior - Men,4170,77.7,Oleksandr DRYHOL,ISR,1966-04-25,1,...,Jablonec nad Nisou (CZE),50.1,NaN,NaN,1966.0,hammer-throw,throws,outdoor,senior,men

# Athlete with the most performances/participations per event type

In [32]:
top_participants = field_event.groupby("event_type")["competitor"].value_counts().groupby(level=0).idxmax()
top_participants

event_type
combined-events    (combined-events, Roman ŠEBRLE)
jumps                        (jumps, Tim LOBINGER)
throws                    (throws, Krisztián PARS)
Name: count, dtype: object

# Total number of unique countries with participants

In [33]:
unique_nationality_count = field_event["nat"].nunique()
print(f"Number of nationalities participating in field events is, {unique_nationality_count}")

Number of nationalities participating in field events is, 146

# Best country in terms of the summation of results score

In [34]:
best_country = field_event.groupby("nat")["results_score"].sum().idxmax()
print(f"The best country in field events is, {best_country}")

The best country in field events is, USA

# worst countries

In [35]:
worst_countries = field_event.groupby("nat")["results_score"].sum().idxmin()
worst_countries

'CAF'

In [36]:
country_scores = field_event.groupby("nat")["results_score"].sum()

sorted_worst_countries = country_scores.sort_values(ascending=True)

worst_countries = sorted_worst_countries.head(5)

worst_countries

nat
CAF    1130.0
MLI    1135.0
LBR    1138.0
TOG    1138.0
PYF    1142.0
Name: results_score, dtype: float64

# number of unique venues

In [37]:
unique_venues = field_event["venue"].nunique()
print(f"Number of unique events is, {unique_venues}")

Number of unique events is, 3964

# Kenya athlete analysis

# Best kenyan performance of all time (Top 20)

In [38]:
kenyan_df = df[df["nat"] == "KEN"]

kenyan_df.head(20)

,all_time_rank,results_score,event,category,event_rank,mark,competitor,nat,date_of_birth,pos,...,venue,age,wind,mark_details,year_of_birth,event_name,event_type,environment,age_category,gender
139,140.0,1312.0,Men's Marathon,Outdoor Senior - Men,1,2:01:09,Eliud KIPCHOGE,KEN,1984-11-05,1,...,Berlin (GER),37.9,NaN,NaN,1984.0,marathon,road-running,outdoor,senior,men
151,150.0,1311.0,Men's 4x1500m,Outdoor Senior - Men,1,14:22.22,Kenya,KEN,NaN,1,...,"T. Robinson Stadium, Nassau (BAH)",NaN,NaN,NaN,NaN,4x1500-metres-relay,relays,outdoor,senior,men
196,188.0,1307.0,Men's Marathon,Outdoor Senior - Men,2,2:01:25,Kelvin KIPTUM,KEN,1999-12-02,1,...,London (GBR),23.4,NaN,NaN,1999.0,marathon,road-running,outdoor,senior,men
246,243.0,1303.0,Men's Marathon,Outdoor Senior - Men,3,2:01:39,Eliud KIPCHOGE,KEN,1984-11-05,1,...,Berlin (GER),33.9,NaN,NaN,1984.0,marathon,road-running,outdoor,senior,men
280,272.0,1301.0,Men's 800m,Outdoor Senior - Men,1,1:40.91,David RUDISHA,KEN,1988-12-17,1,...,"Olympic Stadium, London (GBR)",23.6,NaN,NaN,1988.0,800-metres,middle-long,outdoor,senior,men
315,304.0,1299.0,Men's 3000m indoor,Indoor Senior - Men,3,7:24.90,Daniel KOMEN,KEN,1976-05-17,1,...,Budapest (HUN),21.7,NaN,NaN,1976.0,3000-metres,middle-long,indoor,senior,men
316,304.0,1299.0,Men's 3000m,Outdoor Senior - Men,1,7:20.67,Daniel KOMEN,KEN,1976-05-17,1,...,Rieti (ITA),20.3,NaN,NaN,1976.0,3000-metres,middle-long,outdoor,senior,men
322,304.0,1299.0,Men's Marathon,Outdoor Senior - Men,5,2:01:53,Kelvin KIPTUM,KEN,1999-12-02,1,...,Valencia (ESP),23.0,NaN,NaN,1999.0,marathon,road-running,outdoor,senior,men
329,325.0,1298.0,Men's 800m,Outdoor Senior - Men,2,1:41.01,David RUDISHA,KEN,1988-12-17,1f1,...,"Stadio Guidobaldi, Rieti (ITA)",21.7,NaN,NaN,1988.0,800-metres,middle-long,outdoor,senior,men
357,345.0,1297.0,Men's 1500m,Outdoor Senior - Men,3,3:26.34,Bernard LAGAT,KEN,1974-12-12,2,...,Bruxelles (BEL),26.7,NaN,NaN,1974.0,1500-metres,middle-long,outdoor,senior,men
362,359.0,1296.0,Men's 800m,Outdoor Senior - Men,3,1:41.09,David RUDISHA,KEN,1988-12-17,1,...,"Olympiastadion, Berlin (GER)",21.7,NaN,NaN,1988.0,800-metres,middle-long,outdoor,senior,men
380,359.0,1296.0,Men's 5000m indoor,Indoor Senior - Men,3,12:51.48,Daniel KOMEN,KEN,1976-05-17,1,...,Stockholm (SWE),21.8,NaN,NaN,1976.0,5000-metres,middle-long,indoor,senior,men
381,382.0,1295.0,Women's Marathon,Outdoor Senior - Women,1,2:14:04,Brigid KOSGEI,KEN,1994-02-20,1,...,"Chicago, IL (USA)",25.6,NaN,NaN,1994.0,marathon,road-running,outdoor,senior,women
397,382.0,1295.0,Women's 1500m,Outdoor Senior - Women,1,3:49.11,Faith KIPYEGON,KEN,1994-01-10,1,...,"Stadio Luigi Ridolfi, Firenze (ITA)",29.4,NaN,NaN,1994.0,1500-metres,middle-long,outdoor,senior,women
441,439.0,1293.0,Women's Marathon,Outdoor Senior - Women,2,2:14:18,Ruth CHEPNGETICH,KEN,1994-08-08,1,...,"Chicago, IL (USA)",28.2,NaN,NaN,1994.0,marathon,road-running,outdoor,senior,women
479,466.0,1292.0,Men's 1500m,Outdoor Senior - Men,5,3:26.69,Asbel KIPROP,KEN,1989-06-30,1,...,"Stade Louis II, Monaco (MON)",26.0,NaN,NaN,1989.0,1500-metres,middle-long,outdoor,senior,men
553,539.0,1289.0,Men's 5000m indoor,Indoor U20 - Men,1,12:53.29,Isiah Kiplangat KOECH,KEN,1993-12-19,1,...,Düsseldorf (GER),17.1,NaN,NaN,1993.0,5000-metres,middle-long,indoor,u20,men
556,539.0,1289.0,Men's 5000m indoor,Indoor Senior - Men,5,12:53.29,Isiah Kiplangat KOECH,KEN,1993-12-19,1,...,Düsseldorf (GER),17.1,NaN,NaN,1993.0,5000-metres,middle-long,indoor,senior,men
573,573.0,1288.0,Men's 800m,Outdoor Senior - Men,6,1:41.33,David RUDISHA,KEN,1988-12-17,1f1,...,"Stadio Guidobaldi, Rieti (ITA)",22.7,NaN,NaN,1988.0,800-metres,middle-long,outdoor,senior,men
581,573.0,1288.0,Men's Half Marathon,Outdoor Senior - Men,2,57:32,Kibiwott KANDIE,KEN,1996-06-20,1,...,Valencia (ESP),24.5,NaN,NaN,1996.0,half-marathon,road-running,outdoor,senior,men

In [39]:
len(kenyan_df)

33245

# check for duplicates

In [40]:
kenyan_df.duplicated().sum()

0

In [41]:
kenyan_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33245 entries, 139 to 488587
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   all_time_rank  27370 non-null  float64
 1   results_score  33233 non-null  float64
 2   event          33245 non-null  object
 3   category       33245 non-null  object
 4   event_rank     33245 non-null  int64
 5   mark           33245 non-null  object
 6   competitor     33245 non-null  object
 7   nat            33245 non-null  object
 8   date_of_birth  31766 non-null  object
 9   pos            33071 non-null  object
 10  date           33245 non-null  object
 11  venue          33245 non-null  object
 12  age            31766 non-null  float64
 13  wind           94 non-null     float64
 14  mark_details   1397 non-null   object
 15  year_of_birth  32829 non-null  float64
 16  event_name     33245 non-null  object
 17  event_type     33245 non-null  object
 18  environment    33245 non-null  object
 19  age_category   33245 non-null  object
 20  gender         33245 non-null  object
dtypes: float64(5), int64(1), object(15)
memory usage: 5.6+ MB

Check for null values

In [42]:
kenyan_df.isna().sum()

all_time_rank     5875
results_score       12
event                0
category             0
event_rank           0
mark                 0
competitor           0
nat                  0
date_of_birth     1479
pos                174
date                 0
venue                0
age               1479
wind             33151
mark_details     31848
year_of_birth      416
event_name           0
event_type           0
environment          0
age_category         0
gender               0
dtype: int64

# dropping null value rows for all time rank

In [43]:
kenyan_df = kenyan_df.dropna(subset=["all_time_rank"])

kenyan_df.head()

,all_time_rank,results_score,event,category,event_rank,mark,competitor,nat,date_of_birth,pos,...,venue,age,wind,mark_details,year_of_birth,event_name,event_type,environment,age_category,gender
139,140.0,1312.0,Men's Marathon,Outdoor Senior - Men,1,2:01:09,Eliud KIPCHOGE,KEN,1984-11-05,1,...,Berlin (GER),37.9,NaN,NaN,1984.0,marathon,road-running,outdoor,senior,men
151,150.0,1311.0,Men's 4x1500m,Outdoor Senior - Men,1,14:22.22,Kenya,KEN,NaN,1,...,"T. Robinson Stadium, Nassau (BAH)",NaN,NaN,NaN,NaN,4x1500-metres-relay,relays,outdoor,senior,men
196,188.0,1307.0,Men's Marathon,Outdoor Senior - Men,2,2:01:25,Kelvin KIPTUM,KEN,1999-12-02,1,...,London (GBR),23.4,NaN,NaN,1999.0,marathon,road-running,outdoor,senior,men
246,243.0,1303.0,Men's Marathon,Outdoor Senior - Men,3,2:01:39,Eliud KIPCHOGE,KEN,1984-11-05,1,...,Berlin (GER),33.9,NaN,NaN,1984.0,marathon,road-running,outdoor,senior,men
280,272.0,1301.0,Men's 800m,Outdoor Senior - Men,1,1:40.91,David RUDISHA,KEN,1988-12-17,1,...,"Olympic Stadium, London (GBR)",23.6,NaN,NaN,1988.0,800-metres,middle-long,outdoor,senior,men

In [44]:
kenyan_df.isna().sum()

all_time_rank        0
results_score        0
event                0
category             0
event_rank           0
mark                 0
competitor           0
nat                  0
date_of_birth      977
pos                141
date                 0
venue                0
age                977
wind             27278
mark_details     26479
year_of_birth      245
event_name           0
event_type           0
environment          0
age_category         0
gender               0
dtype: int64

In [45]:
kenyan_df = kenyan_df[kenyan_df["competitor"] != "Kenya"]

kenyan_df.head()

,all_time_rank,results_score,event,category,event_rank,mark,competitor,nat,date_of_birth,pos,...,venue,age,wind,mark_details,year_of_birth,event_name,event_type,environment,age_category,gender
139,140.0,1312.0,Men's Marathon,Outdoor Senior - Men,1,2:01:09,Eliud KIPCHOGE,KEN,1984-11-05,1,...,Berlin (GER),37.9,NaN,NaN,1984.0,marathon,road-running,outdoor,senior,men
196,188.0,1307.0,Men's Marathon,Outdoor Senior - Men,2,2:01:25,Kelvin KIPTUM,KEN,1999-12-02,1,...,London (GBR),23.4,NaN,NaN,1999.0,marathon,road-running,outdoor,senior,men
246,243.0,1303.0,Men's Marathon,Outdoor Senior - Men,3,2:01:39,Eliud KIPCHOGE,KEN,1984-11-05,1,...,Berlin (GER),33.9,NaN,NaN,1984.0,marathon,road-running,outdoor,senior,men
280,272.0,1301.0,Men's 800m,Outdoor Senior - Men,1,1:40.91,David RUDISHA,KEN,1988-12-17,1,...,"Olympic Stadium, London (GBR)",23.6,NaN,NaN,1988.0,800-metres,middle-long,outdoor,senior,men
315,304.0,1299.0,Men's 3000m indoor,Indoor Senior - Men,3,7:24.90,Daniel KOMEN,KEN,1976-05-17,1,...,Budapest (HUN),21.7,NaN,NaN,1976.0,3000-metres,middle-long,indoor,senior,men

Best kenyan performance of all time (Top 20)

In [46]:
kenyan_performances = kenyan_df[kenyan_df["nat"] == "KEN"]

best_kenyan_performances = kenyan_performances.sort_values(by="all_time_rank", ascending=True).head(20)

best_kenyan_performances

,all_time_rank,results_score,event,category,event_rank,mark,competitor,nat,date_of_birth,pos,...,venue,age,wind,mark_details,year_of_birth,event_name,event_type,environment,age_category,gender
139,140.0,1312.0,Men's Marathon,Outdoor Senior - Men,1,2:01:09,Eliud KIPCHOGE,KEN,1984-11-05,1,...,Berlin (GER),37.9,NaN,NaN,1984.0,marathon,road-running,outdoor,senior,men
196,188.0,1307.0,Men's Marathon,Outdoor Senior - Men,2,2:01:25,Kelvin KIPTUM,KEN,1999-12-02,1,...,London (GBR),23.4,NaN,NaN,1999.0,marathon,road-running,outdoor,senior,men
246,243.0,1303.0,Men's Marathon,Outdoor Senior - Men,3,2:01:39,Eliud KIPCHOGE,KEN,1984-11-05,1,...,Berlin (GER),33.9,NaN,NaN,1984.0,marathon,road-running,outdoor,senior,men
280,272.0,1301.0,Men's 800m,Outdoor Senior - Men,1,1:40.91,David RUDISHA,KEN,1988-12-17,1,...,"Olympic Stadium, London (GBR)",23.6,NaN,NaN,1988.0,800-metres,middle-long,outdoor,senior,men
315,304.0,1299.0,Men's 3000m indoor,Indoor Senior - Men,3,7:24.90,Daniel KOMEN,KEN,1976-05-17,1,...,Budapest (HUN),21.7,NaN,NaN,1976.0,3000-metres,middle-long,indoor,senior,men
316,304.0,1299.0,Men's 3000m,Outdoor Senior - Men,1,7:20.67,Daniel KOMEN,KEN,1976-05-17,1,...,Rieti (ITA),20.3,NaN,NaN,1976.0,3000-metres,middle-long,outdoor,senior,men
322,304.0,1299.0,Men's Marathon,Outdoor Senior - Men,5,2:01:53,Kelvin KIPTUM,KEN,1999-12-02,1,...,Valencia (ESP),23.0,NaN,NaN,1999.0,marathon,road-running,outdoor,senior,men
329,325.0,1298.0,Men's 800m,Outdoor Senior - Men,2,1:41.01,David RUDISHA,KEN,1988-12-17,1f1,...,"Stadio Guidobaldi, Rieti (ITA)",21.7,NaN,NaN,1988.0,800-metres,middle-long,outdoor,senior,men
357,345.0,1297.0,Men's 1500m,Outdoor Senior - Men,3,3:26.34,Bernard LAGAT,KEN,1974-12-12,2,...,Bruxelles (BEL),26.7,NaN,NaN,1974.0,1500-metres,middle-long,outdoor,senior,men
362,359.0,1296.0,Men's 800m,Outdoor Senior - Men,3,1:41.09,David RUDISHA,KEN,1988-12-17,1,...,"Olympiastadion, Berlin (GER)",21.7,NaN,NaN,1988.0,800-metres,middle-long,outdoor,senior,men
380,359.0,1296.0,Men's 5000m indoor,Indoor Senior - Men,3,12:51.48,Daniel KOMEN,KEN,1976-05-17,1,...,Stockholm (SWE),21.8,NaN,NaN,1976.0,5000-metres,middle-long,indoor,senior,men
397,382.0,1295.0,Women's 1500m,Outdoor Senior - Women,1,3:49.11,Faith KIPYEGON,KEN,1994-01-10,1,...,"Stadio Luigi Ridolfi, Firenze (ITA)",29.4,NaN,NaN,1994.0,1500-metres,middle-long,outdoor,senior,women
381,382.0,1295.0,Women's Marathon,Outdoor Senior - Women,1,2:14:04,Brigid KOSGEI,KEN,1994-02-20,1,...,"Chicago, IL (USA)",25.6,NaN,NaN,1994.0,marathon,road-running,outdoor,senior,women
441,439.0,1293.0,Women's Marathon,Outdoor Senior - Women,2,2:14:18,Ruth CHEPNGETICH,KEN,1994-08-08,1,...,"Chicago, IL (USA)",28.2,NaN,NaN,1994.0,marathon,road-running,outdoor,senior,women
479,466.0,1292.0,Men's 1500m,Outdoor Senior - Men,5,3:26.69,Asbel KIPROP,KEN,1989-06-30,1,...,"Stade Louis II, Monaco (MON)",26.0,NaN,NaN,1989.0,1500-metres,middle-long,outdoor,senior,men
553,539.0,1289.0,Men's 5000m indoor,Indoor U20 - Men,1,12:53.29,Isiah Kiplangat KOECH,KEN,1993-12-19,1,...,Düsseldorf (GER),17.1,NaN,NaN,1993.0,5000-metres,middle-long,indoor,u20,men
556,539.0,1289.0,Men's 5000m indoor,Indoor Senior - Men,5,12:53.29,Isiah Kiplangat KOECH,KEN,1993-12-19,1,...,Düsseldorf (GER),17.1,NaN,NaN,1993.0,5000-metres,middle-long,indoor,senior,men
573,573.0,1288.0,Men's 800m,Outdoor Senior - Men,6,1:41.33,David RUDISHA,KEN,1988-12-17,1f1,...,"Stadio Guidobaldi, Rieti (ITA)",22.7,NaN,NaN,1988.0,800-metres,middle-long,outdoor,senior,men
581,573.0,1288.0,Men's Half Marathon,Outdoor Senior - Men,2,57:32,Kibiwott KANDIE,KEN,1996-06-20,1,...,Valencia (ESP),24.5,NaN,NaN,1996.0,half-marathon,road-running,outdoor,senior,men
594,573.0,1288.0,Men's Mile,Outdoor Senior - Men,2,3:43.40,Noah NGENY,KEN,1978-11-02,2,...,"Stadio Olimpico, Roma (ITA)",20.7,NaN,NaN,1978.0,one-mile,middle-long,outdoor,senior,men

# Best kenyan performance of all time (Top 20) in field events

In [47]:
kenyan_performances = field_event[field_event["nat"] == "KEN"]

best_kenyan_performances = kenyan_performances.sort_values(by="all_time_rank", ascending=True).head(20)

best_kenyan_performances

,all_time_rank,results_score,event,category,event_rank,mark,competitor,nat,date_of_birth,pos,...,venue,age,wind,mark_details,year_of_birth,event_name,event_type,environment,age_category,gender
758,749.0,1283.0,Men's Javelin Throw,Outdoor Senior - Men,18,92.72,Julius YEGO,KEN,1989-01-04,1,...,"National Stadium, Beijing (CHN)",26.6,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men
2189,2162.0,1264.0,Men's Javelin Throw,Outdoor Senior - Men,47,91.39,Julius YEGO,KEN,1989-01-04,1,...,"Alexander Stadium, Birmingham (GBR)",26.4,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men
21997,20877.0,1219.0,Men's Javelin Throw,Outdoor Senior - Men,353,88.24,Julius YEGO,KEN,1989-01-04,2,...,"Estádio Olímpico, Rio de Janeiro (BRA)",27.6,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men
25335,25187.0,1215.0,Men's Javelin Throw,Outdoor Senior - Men,409,87.97,Julius YEGO,KEN,1989-01-04,1,...,Nairobi (KEN),28.5,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men
32050,31113.0,1211.0,Men's Javelin Throw,Outdoor Senior - Men,469,87.71,Julius YEGO,KEN,1989-01-04,2,...,"Stadio Olimpico, Roma (ITA)",26.4,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men
32114,31113.0,1211.0,Men's Javelin Throw,Outdoor Senior - Men,464,87.73,Julius YEGO,KEN,1989-01-04,1,...,"Complexe Sportif Prince Moulay Abdellah, Rabat...",30.7,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men
51588,49964.0,1199.0,Men's Javelin Throw,Outdoor Senior - Men,704,86.88,Julius YEGO,KEN,1989-01-04,1,...,"Mestský Stadion, Ostrava (CZE)",26.4,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men
98817,96417.0,1182.0,Men's Javelin Throw,Outdoor Senior - Men,1153,85.7,Julius YEGO,KEN,1989-01-04,3,...,"Alexander Stadium, Birmingham (GBR)",33.6,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men
109091,106819.0,1179.0,Men's High Jump,Outdoor Senior - Men,1755,2.3,Mathew SAWE,KEN,1988-07-02,1,...,Nairobi (KEN),29.9,NaN,NaN,1988.0,high-jump,jumps,outdoor,senior,men
109098,106819.0,1179.0,Men's High Jump,Outdoor Senior - Men,1755,2.3,Mathew SAWE,KEN,1988-07-02,1,...,"Stephen Keshi Stadium, Asaba (NGR)",30.1,NaN,NaN,1988.0,high-jump,jumps,outdoor,senior,men
109392,106819.0,1179.0,Men's Javelin Throw,Outdoor Senior - Men,1238,85.5,Julius YEGO,KEN,1989-01-04,4,...,"Stade Olympique de la Pontaise, Lausanne (SUI)",26.5,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men
113814,111673.0,1178.0,Men's Javelin Throw,Outdoor Senior - Men,1302,85.4,Julius YEGO,KEN,1989-01-04,4,...,"Luzhniki Stadion, Moskva (RUS)",24.6,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men
116405,114975.0,1177.0,Men's Triple Jump,Outdoor Senior - Men,2052,17.12,Jacob KATONON,KEN,1969-10-05,1,...,Nairobi (KEN),26.7,0.0,NaN,1969.0,triple-jump,jumps,outdoor,senior,men
138746,137287.0,1171.0,Men's Javelin Throw,Outdoor Senior - Men,1563,84.92,Julius YEGO,KEN,1989-01-04,3,...,"Sports Park Mladost, Zagreb (CRO)",24.7,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men
155693,152826.0,1168.0,Men's Javelin Throw,Outdoor Senior - Men,1693,84.72,Julius YEGO,KEN,1989-01-04,1,...,"Le Grande Stade, Marrakesh (MAR)",25.6,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men
155893,152826.0,1168.0,Men's Javelin Throw,Outdoor Senior - Men,1701,84.71,Julius YEGO,KEN,1989-01-04,4,...,"Letzigrund, Zürich (SUI)",25.6,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men
155957,152826.0,1168.0,Men's Javelin Throw,Outdoor Senior - Men,1718,84.68,Julius YEGO,KEN,1989-01-04,1,...,"Hayward Field, Eugene, OR (USA)",27.4,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men
156535,152826.0,1168.0,Men's Javelin Throw,Outdoor Senior - Men,1730,84.67,Julius YEGO,KEN,1989-01-04,4,...,"Olympiastadion, Stockholm (SWE)",25.6,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men
167031,165123.0,1165.0,Men's Javelin Throw,Outdoor Senior - Men,1847,84.46,Julius YEGO,KEN,1989-01-04,2q2,...,"National Stadium, Beijing (CHN)",26.6,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men
170531,170151.0,1164.0,Men's Javelin Throw,Outdoor Senior - Men,1859,84.44,Julius YEGO,KEN,1989-01-04,2,...,Lahti (FIN),25.4,NaN,NaN,1989.0,javelin-throw,throws,outdoor,senior,men

# Top 10men and top 10 women of all time

In [48]:
top_10_men = kenyan_df[kenyan_df["gender"] == "men"].sort_values(by="all_time_rank", ascending= True).head(10)

top_10_men

,all_time_rank,results_score,event,category,event_rank,mark,competitor,nat,date_of_birth,pos,...,venue,age,wind,mark_details,year_of_birth,event_name,event_type,environment,age_category,gender
139,140.0,1312.0,Men's Marathon,Outdoor Senior - Men,1,2:01:09,Eliud KIPCHOGE,KEN,1984-11-05,1,...,Berlin (GER),37.9,NaN,NaN,1984.0,marathon,road-running,outdoor,senior,men
196,188.0,1307.0,Men's Marathon,Outdoor Senior - Men,2,2:01:25,Kelvin KIPTUM,KEN,1999-12-02,1,...,London (GBR),23.4,NaN,NaN,1999.0,marathon,road-running,outdoor,senior,men
246,243.0,1303.0,Men's Marathon,Outdoor Senior - Men,3,2:01:39,Eliud KIPCHOGE,KEN,1984-11-05,1,...,Berlin (GER),33.9,NaN,NaN,1984.0,marathon,road-running,outdoor,senior,men
280,272.0,1301.0,Men's 800m,Outdoor Senior - Men,1,1:40.91,David RUDISHA,KEN,1988-12-17,1,...,"Olympic Stadium, London (GBR)",23.6,NaN,NaN,1988.0,800-metres,middle-long,outdoor,senior,men
315,304.0,1299.0,Men's 3000m indoor,Indoor Senior - Men,3,7:24.90,Daniel KOMEN,KEN,1976-05-17,1,...,Budapest (HUN),21.7,NaN,NaN,1976.0,3000-metres,middle-long,indoor,senior,men
316,304.0,1299.0,Men's 3000m,Outdoor Senior - Men,1,7:20.67,Daniel KOMEN,KEN,1976-05-17,1,...,Rieti (ITA),20.3,NaN,NaN,1976.0,3000-metres,middle-long,outdoor,senior,men
322,304.0,1299.0,Men's Marathon,Outdoor Senior - Men,5,2:01:53,Kelvin KIPTUM,KEN,1999-12-02,1,...,Valencia (ESP),23.0,NaN,NaN,1999.0,marathon,road-running,outdoor,senior,men
329,325.0,1298.0,Men's 800m,Outdoor Senior - Men,2,1:41.01,David RUDISHA,KEN,1988-12-17,1f1,...,"Stadio Guidobaldi, Rieti (ITA)",21.7,NaN,NaN,1988.0,800-metres,middle-long,outdoor,senior,men
357,345.0,1297.0,Men's 1500m,Outdoor Senior - Men,3,3:26.34,Bernard LAGAT,KEN,1974-12-12,2,...,Bruxelles (BEL),26.7,NaN,NaN,1974.0,1500-metres,middle-long,outdoor,senior,men
380,359.0,1296.0,Men's 5000m indoor,Indoor Senior - Men,3,12:51.48,Daniel KOMEN,KEN,1976-05-17,1,...,Stockholm (SWE),21.8,NaN,NaN,1976.0,5000-metres,middle-long,indoor,senior,men

In [49]:
top_10_women = kenyan_df[kenyan_df["gender"] == "women"].sort_values(by="all_time_rank", ascending=True).head(10)

top_10_women

,all_time_rank,results_score,event,category,event_rank,mark,competitor,nat,date_of_birth,pos,...,venue,age,wind,mark_details,year_of_birth,event_name,event_type,environment,age_category,gender
381,382.0,1295.0,Women's Marathon,Outdoor Senior - Women,1,2:14:04,Brigid KOSGEI,KEN,1994-02-20,1,...,"Chicago, IL (USA)",25.6,NaN,NaN,1994.0,marathon,road-running,outdoor,senior,women
397,382.0,1295.0,Women's 1500m,Outdoor Senior - Women,1,3:49.11,Faith KIPYEGON,KEN,1994-01-10,1,...,"Stadio Luigi Ridolfi, Firenze (ITA)",29.4,NaN,NaN,1994.0,1500-metres,middle-long,outdoor,senior,women
441,439.0,1293.0,Women's Marathon,Outdoor Senior - Women,2,2:14:18,Ruth CHEPNGETICH,KEN,1994-08-08,1,...,"Chicago, IL (USA)",28.2,NaN,NaN,1994.0,marathon,road-running,outdoor,senior,women
644,644.0,1286.0,Women's Mile,Outdoor Senior - Women,1,4:07.64,Faith KIPYEGON,KEN,1994-01-10,1,...,"Stade Louis II, Monaco (MON)",29.5,NaN,NaN,1994.0,one-mile,middle-long,outdoor,senior,women
700,685.0,1285.0,Women's 3000mSC,Outdoor Senior - Women,1,8:44.32,Beatrice CHEPKOECH,KEN,1991-07-06,1,...,"Stade Louis II, Monaco (MON)",27.0,NaN,NaN,1991.0,3000-metres-steeplechase,middle-long,outdoor,senior,women
747,722.0,1284.0,Women's 1500m,Outdoor Senior - Women,3,3:50.37,Faith KIPYEGON,KEN,1994-01-10,1,...,"Stade Louis II, Monaco (MON)",28.6,NaN,NaN,1994.0,1500-metres,middle-long,outdoor,senior,women
843,836.0,1281.0,Women's 10km Road Race,Outdoor Senior - Women,3,29:24,Agnes Jebet NGETICH,KEN,2001-01-23,1,...,Brasov (ROU),22.6,NaN,NaN,2001.0,10-kilometres,road-running,outdoor,senior,women
879,836.0,1281.0,Women's 1500m,Outdoor Senior - Women,5,3:50.72,Faith KIPYEGON,KEN,1994-01-10,1,...,"Hayward Field, Eugene, OR (USA)",29.7,NaN,NaN,1994.0,1500-metres,middle-long,outdoor,senior,women
1044,998.0,1278.0,Women's 1500m,Outdoor Senior - Women,7,3:51.07,Faith KIPYEGON,KEN,1994-01-10,1,...,"Stade Louis II, Monaco (MON)",27.5,NaN,NaN,1994.0,1500-metres,middle-long,outdoor,senior,women
1149,1106.0,1276.0,Women's 1500m,Outdoor Senior - Women,9,3:51.41,Faith KIPYEGON,KEN,1994-01-10,NaN,...,"Stade Louis II, Monaco (MON)",29.5,NaN,NaN,1994.0,1500-metres,middle-long,outdoor,senior,women

#  Number of Unique Kenyan Competitors

In [50]:
unique_kenyan_competitors = kenyan_df["competitor"].nunique()
print(f"Number of unique kenyan competitors is, {unique_kenyan_competitors}")

Number of unique kenyan competitors is, 2339

# Number of Events Kenyans Participated In

In [51]:
unique_events_kenyans = kenyan_df["event"].nunique()
print(f"Number of Events Kenyans Participated in is: {unique_events_kenyans}")

Number of Events Kenyans Participated in is: 75

# Average Age of Kenyan Participants

In [52]:
average_age_kenyan_participants = kenyan_df["age"].mean()
print(f"Average kenyan participant age is {average_age_kenyan_participants} years")

Average kenyan participant age is 24.835395748872806 years